@model ModbusAppGenerator.ViewModels.ProjectViewModels.CreateIpProjectViewModel

@{
    ViewData["Title"] = "Create Ip Project";
}

<h2 class="text-center">Create a New Project. Step 2</h2>

<h5 class="text-center">Great! You have completed the main settings of your project! Please complete IP configurations of your project.</h5>
<div>
    @using (Html.BeginForm("CreateIpProject", "Project"))
    {
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            @Html.HiddenFor(m => m.Id)
        </div>
        <div class="form-group">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.TextBoxFor(m => m.Host, new { @class = "mdl-textfield__input", autocomplete = "off" })
                @Html.LabelFor(m => m.Host, new { @class = "mdl-textfield__label" })
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Host, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.TextBoxFor(m => m.Port, new { @class = "mdl-textfield__input", autocomplete = "off" })
                @Html.LabelFor(m => m.Port, new { @class = "mdl-textfield__label" })
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Port, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="mdl-button mdl-js-button mdl-button--raised primary-button" />
        </div>
    }
</div>
