@model ModbusAppGenerator.ViewModels.ProjectViewModels.CreateProjectViewModel

@{
    ViewData["Title"] = "Create";
}

<h2 class="text-center">Create a New Project. Step 1</h2>

<h5 class="text-center">Welcome to modbus project creation form! Please complete main settings of your project.</h5>
<div>
    @using (Html.BeginForm("Create", "Project"))
    {
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.TextBoxFor(m => m.Name, new { @class = "mdl-textfield__input", autocomplete = "off" })
                @Html.LabelFor(m => m.Name, new { @class = "mdl-textfield__label" })
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                @Html.TextBoxFor(m => m.ConnectionType, new { @class = "mdl-textfield__input", autocomplete = "off", @readonly = "readonly", type = "text", value = "" })
                <input type="hidden" value="" name="ConnectionType">
                <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                @Html.LabelFor(m => m.ConnectionType, new { @class = "mdl-textfield__label" })
                <ul for="sample4" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                    <li class="mdl-menu__item" data-val="Ip">Ip</li>
                    <li class="mdl-menu__item" data-val="Com">Com</li>
                </ul>
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.ConnectionType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.TextAreaFor(m => m.Description, new { @class = "mdl-textfield__input", type = "text", rows = "3" })
                @Html.LabelFor(m => m.Description, new { @class = "mdl-textfield__label" })
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="mdl-button mdl-js-button mdl-button--raised primary-button" />
        </div>
    }
</div>