@model ModbusAppGenerator.ViewModels.ProjectViewModels.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center">@Model.Name</h2>
<h4 class="text-center">@Model.Description</h4>
@switch (Model.ConnectionType)
{
    case ModbusAppGenerator.DataAccess.Enums.ConnectionTypes.Com:
        <h4></h4>
        break;
}

<div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-button--accent primary-button" })
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <a id="download-button" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent primary-button">Download</a>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            @Html.ActionLink("Test", "Test", new { id = Model.Id }, new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-button--accent primary-button" })
        </div>
    </div>
    <div class="mdl-grid">
        @foreach (var action in Model.Actions)
        {
            <div class="mdl-cell mdl-cell--4-col action">
                Slave Device Number: @action.SlaveAddress <br />
                Start Address: @action.StartAddress <br />
                Number Of Registers: @action.NumberOfRegisters <br />
                Types: @action.Types <br />
            </div>
        }
    </div>
</div>

<dialog class="mdl-dialog medium-width text-center">
    <input id="dialog-download-project-id" type="hidden" value="@Model.Id" />
    <h4 class="mdl-dialog__title">Download</h4>
    <div class="mdl-dialog__content">
        <p id="dialog-body">
            Please, select what type of application you want to download.
        </p>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent primary-button console">Console Application</button>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent primary-button service">Windows Service Application</button>
        </div>
    </div>
</dialog>

@section Scripts {
    @Scripts.Render("~/Scripts/viewControllers/project/details.js")
}