@model ModbusAppGenerator.ViewModels.ProjectViewModels.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center">@Model.Name</h2>
<h4 class="text-center">@Model.Description</h4>
@switch (Model.ConnectionType)
{
    case ModbusAppGenerator.DataAccess.Enums.ConnectionTypes.Com:
        <h4></h4>
        break;
}

<div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-button--accent primary-button" })
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            @Html.ActionLink("Download", "Download", new { id = Model.Id }, new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-button--accent primary-button" })
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            @Html.ActionLink("Test", "Test", new { id = Model.Id }, new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-button--accent primary-button" })
        </div>
    </div>
    <div class="mdl-grid">
        @foreach (var action in Model.Actions)
        {
            <div class="mdl-cell mdl-cell--4-col action">
                Slave Device Number: @action.SlaveAddress <br />
                Start Address: @action.StartAddress <br />
                Number Of Registers: @action.NumberOfRegisters <br />
                Types: @action.Types <br />
            </div>
        }
    </div>
</div>
