@model ModbusAppGenerator.ViewModels.ProjectViewModels.EditIpProjectViewModel

@{
    ViewData["Title"] = "Edit Ip Project";
}

<h2>Edit Ip Project Settings</h2>

<div>
    @using (Html.BeginForm("EditIpProject", "Project"))
    {
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.TextBoxFor(m => m.Name, new { @class = "mdl-textfield__input", autocomplete = "off" })
                @Html.LabelFor(m => m.Name, new { @class = "mdl-textfield__label" })
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.TextBoxFor(m => m.Host, new { @class = "mdl-textfield__input", autocomplete = "off" })
                @Html.LabelFor(m => m.Host, new { @class = "mdl-textfield__label" })
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Host, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.TextBoxFor(m => m.Port, new { @class = "mdl-textfield__input", autocomplete = "off" })
                @Html.LabelFor(m => m.Port, new { @class = "mdl-textfield__label" })
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Port, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.TextAreaFor(m => m.Description, new { @class = "mdl-textfield__input", type = "text", rows = "3" })
                @Html.LabelFor(m => m.Description, new { @class = "mdl-textfield__label" })
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="mdl-button mdl-js-button mdl-button--raised primary-button" />
        </div>
    }
</div>

@Html.Action("ActionForm", new { id = Model.Id })

@section Scripts {
    <script src="~/Scripts/viewControllers/project/update-actions.js"></script>
}