@using ModbusAppGenerator.ViewModels.AccountViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="login-container">
    <div class="login-image">
        <img src="~/Content/images/computer-network-512.png" width="100" height="100" />
    </div>
    <div class="login-form">
        <section>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" }, "")
                <div class="form-group">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        @Html.TextBoxFor(m => m.Email, new { @class = "mdl-textfield__input required" })
                        @Html.LabelFor(m => m.Email, new { @class = "mdl-textfield__label" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "mdl-textfield__error" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        @Html.PasswordFor(m => m.Password, new { @class = "mdl-textfield__input required" })
                        @Html.LabelFor(m => m.Password, new { @class = "mdl-textfield__label" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "mdl-textfield__error" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox" style="padding-left: 0px">
                        <label for="RememberMe" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" style="padding-top: 4px">
                            <input for="RememberMe" type="checkbox" name="RememberMe" id="RememberMe" class="mdl-checkbox__input" value="true">
                            <span class="mdl-checkbox__label">@Html.DisplayNameFor(m => m.RememberMe)</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised primary-button">Login</button>
                </div>
            }
        </section>
        <div class="form-group text-center">
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-button--accent login-secondary-button" })
            </p>
            <p>
                @Html.ActionLink("Register as a new user?", "Register", new { ReturnUrl = ViewData["ReturnUrl"] }, new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-button--accent login-secondary-button" })
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}